
/*To apply styles to the website the website has been divided into three sections and the styles have been applied accordingly*/
/*1.Heading-section*/
/*2.Highlights-section*/
/*3.News section*/
/*These three sections are enclosed in another section called main-box, left and right margins are added to the design as per requirement in this section*/



/*Importing the font inter from google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');


/*Colors used in the design*/

:root{
--Soft-orange: hsl(35, 77%, 62%);
--Soft-red : hsl(5, 85%, 63%);
--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-left: 12%;
    margin-right: 12%;
}

/*Styling the main-box section, adding margins*/

.main-box{
    margin-left: 12%;
    margin-right: 12%;
}


/*customizing the navbar*/

.nav-item{
    padding: 0 18px;
}

.navbar-link{
    font-size: 1.2rem;
    color: var(--Dark-grayish-blue);
    text-decoration: none;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 1rem;
}

a:hover{
    color: var(--Soft-orange);
    text-decoration: none;
}

.navbar{
    background-color: white;
    margin-top: 18px;
    margin-bottom: 18px;
}


/*Styling the heading section*/

.heading-section{
    float: left;
    width:75%;
    height: auto;
}

.heading-title{
    font-weight: 800;
    font-size: 2.8rem;
    padding-top: 5%;
}

.main-img{
    width: 100%;
    height: auto;
}

.main-text{
    padding-top: 4%;
    font-size: 0.9rem;
    color: var(--Dark-grayish-blue);
}


/*Styling the highlights section*/

.highlights-title{
    font-size: 2rem;
    color: var(--Soft-orange);
    padding:6%;
}

.highlights{
    color:var(--Off-white);
    padding: 4%;
    cursor: pointer;
}

.highlights:hover{
    color: var(--Soft-orange);
}

.sub-highlights{
    padding: 3.2%;
    color:var(--Dark-grayish-blue);
    font-size: 0.9rem;
}

hr{
    border-top: 1px solid hsl(233, 8%, 79%) !important;
    background-color: var(--Grayish-blue);
}

.highlights-section{
    float: right;
    width:25%;
    margin-left: 0%;
}

.part2{
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--Very-dark-blue);
}


/*Styling the button*/

.read-more-button{
    background-color: hsl(5, 85%, 63%);
    color: white;
    border: none;
    width: 40%;
    padding: 2%;
    margin-top: 7%;
}

.read-more-button:hover{
    background-color: black;
    color: white;
}

/*Styling the news section*/

.news-section{
    display: inline-block;
    padding-top: 1.5%;
    width: 100%;
}

.news-images{
    float: left; 
    width:100px;
    margin-right: 4%;
    margin-left: 4%;
}

.news-text{
    float: right;
}

.news-content{
  display: inline-block;
  padding: 2.5%;
  width:350px;
  height: auto;
}

.news-num{
  color: var(--Grayish-blue);
}

.news-title{
  color: var(--Very-dark-blue);
  font-size: 0.9rem;
  font-weight: 800;
}

.news-title:hover{
    color: var(--Soft-orange);
    cursor: pointer;
}

.news-info{
  color: var(--Dark-grayish-blue);
  font-size: 0.8rem;
}

.middle-div{
    margin-right: 4%;
    margin-left: 4%;
}